<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>千葉県の空き家バンク情報まとめ</title>
    <!-- スタイルシートやその他のリソースをここに追加 -->
</head>
<body>
    <h1>千葉県の空き家バンク情報まとめ</h1>

    <!-- 茂原市の物件情報の見出し -->
    <h2>茂原市の物件情報</h2>

    <!-- 茂原市の物件情報のテーブル -->
    <table id="mobara-property">
        <!-- JavaScriptによってここに内容が動的に追加される -->
    </table>


    <!-- 千葉市の物件情報のセクション -->
    <h2>千葉市の物件情報</h2>
    <div id="chiba-city-section">
        <!-- ここに千葉市のリンクが追加される -->
    </div>
    
    <!-- 千葉県の他の市町村の見出しを表示するコンテナ -->
    <div id="municipalities-container">
        <!-- JavaScriptによってここに内容が動的に追加される -->
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
